.DS_Store
ssl/*.pem
ssl/*.key
.env
.idea
.vscode
certbot
!certbot/conf/.gitkeep
!certbot/www/.gitkeep
pgdata
media
db_backups
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
uptime_kuma_data
